.cpcache/
.nrepl-port
.shadow-cljs/
.clj-kondo/.cache
.lsp
data
datacatalog.csv
doc_data.txt
result
opt/
public/js/compiled/
*~
src/clj/dummett_library/.clj-kondo/
src/clj/dummett_library/.lsp/
node_modules/
package-lock.json