.clj-kondo/.cache
.cpcache/
.lsp
.nrepl-port
.shadow-cljs/
node_modules/
opt/
outputs/
package-lock.json
pids.txt
public/js/compiled/
result
src/clj/dummett_library/.clj-kondo/
src/clj/dummett_library/.lsp/
target
scratch