{:paths ["src/clj"]
 :deps
 {compojure/compojure                  {:mvn/version "1.6.1"}
  cheshire/cheshire                    {:mvn/version "5.11.0"}
  http-kit/http-kit                    {:mvn/version "2.3.0"}
  org.clojure/clojure                  {:mvn/version "1.12.0"}
  org.apache.lucene/lucene-core        {:mvn/version "9.2.0"}
  org.apache.lucene/lucene-highlighter {:mvn/version "9.2.0"}
  org.apache.lucene/lucene-queries     {:mvn/version "9.2.0"}
  org.apache.lucene/lucene-queryparser {:mvn/version "9.2.0"}
  org.apache.lucene/lucene-suggest     {:mvn/version "9.2.0"}
  org.apache.tika/tika-parsers         {:mvn/version "1.2"}}
 :aliases
 {:prod/run
  {:exec-fn dummett-library.core/run!}
  :dev/repl
  {:extra-deps
   {nrepl/nrepl       {:mvn/version "0.9.0"}
    cider/cider-nrepl {:mvn/version "0.28.5"}}
   :main-opts ["-m" "nrepl.cmdline"
               "--middleware" "[cider.nrepl/cider-middleware]"
               "-i"]}}}
