;; shadow-cljs configuration
{:source-paths
 ["src/cljs"]

 :dependencies [[binaryage/devtools    "0.9.7"]
                [cljs-ajax             "0.7.5"]
                [adzerk/env            "0.4.0"]
                [day8.re-frame/http-fx "0.2.4"]
                [reagent               "1.1.0"]
                [re-frame              "0.10.7"]]

 ;; set an nrepl port for connection to a REPL.
 :nrepl        {:port 8777}

 :builds
 {:app {:target :browser
        :output-dir "../logos/public/js/compiled"
        :asset-path "/js/compiled"

        :modules
        {:main
         {:entries [dummett-library.core]}}

        :devtools
        ;; before live-reloading any code call this function
        {:before-load dummett-library.core/stop
         ;; after live-reloading finishes call this function
         :after-load dummett-library.core/start
         ;; serve the public directory over http at port 8700
         :http-root    "public"
         :http-port    8700
         :preloads     [devtools.preload]}
        }}}
